body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 55px;
}
 .container
        {   text-align:center;
            font-family:sans-serif;
            padding-top:5px;
            margin:0 auto;
            padding: 40px 20px 40px 20px ;
            
        }
        .text-green
        {   background-color:grey;
            color:green;
        }
.center {
    text-align: center;
}

.text-big {
    font-size: 150%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 500px;
}

